# Disable directory browsing
Options -Indexes

# Custom error page
ErrorDocument 403 /media-center/403.php

# Protect sensitive files in root and subdirectories (except public)
<FilesMatch "\.(sql|md|txt)$">
    <If "%{REQUEST_URI} !~ m#^/media-center/public/#">
        Require all denied
    </If>
</FilesMatch>

# Block PHP files in root, but allow all PHP files in public directory
<FilesMatch "\.php$">
    <If "%{REQUEST_URI} =~ m#^/media-center/public/#">
        Require all granted
    </If>
    <ElseIf "%{REQUEST_URI} =~ m#^/media-center/(form|login|dashboard|logout|setup|update_database|403)\.php$#">
        Require all granted
    </ElseIf>
    <Else>
        Require all denied
    </Else>
</FilesMatch>
